.navbar {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  line-height: 3.5rem;
}
@media (max-width: 750px) {
  .navbar {
    line-height: 2.5rem;
  }
}
@media (min-width: 750px) {
  .navbar {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
    width: 100%;
  }
}

@media (min-width: 750px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
  }
}
.navbar__container__logo {
  margin-left: 1em;
  font-family: Raleway;
  font-size: 1.625rem;
  color: #08A6E4;
}

.navbar__container__icon {
  color: #08A6E4;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

@media (min-width: 750px) {
  .navbar__container__icon {
    display: none;
  }
}
.navbar__container__nav {
  display: none;
}
@media (min-width: 750px) {
  .navbar__container__nav {
    display: inline-block !important;
    margin-left: 7rem;
  }
}
@media (min-width: 850px) {
  .navbar__container__nav {
    margin-left: 9rem;
  }
}
@media (min-width: 950px) {
  .navbar__container__nav {
    margin-left: 14rem;
  }
}
@media (min-width: 1000px) {
  .navbar__container__nav {
    margin-left: 17rem;
  }
}
@media (min-width: 1200px) {
  .navbar__container__nav {
    margin-left: 30rem;
  }
}
@media (min-width: 1300px) {
  .navbar__container__nav {
    margin-left: 36rem;
  }
}
@media (min-width: 1400px) {
  .navbar__container__nav {
    margin-left: 43rem;
  }
}
@media (min-width: 1500px) {
  .navbar__container__nav {
    margin-left: 52rem;
  }
}

.navbar__container__nav__items {
  list-style: none;
}
@media (max-width: 750px) {
  .navbar__container__nav__items {
    display: table-caption;
    margin-top: 1rem;
  }
}

.navbar__container__nav__itemsList {
  display: inline-block;
  margin-right: 3rem;
  font-family: "Open Sans";
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0.205rem;
  text-align: center;
  color: #A5A5A5;
}
.navbar__container__nav__itemsList a {
  text-decoration: none;
  color: #A5A5A5;
}
.navbar__container__nav__itemsList a:hover {
  cursor: pointer;
  color: black;
  text-decoration: underline 0.3rem solid #08A6E4;
  text-underline-offset: 1.5em;
}
@media (max-width: 750px) {
  .navbar__container__nav__itemsList a:hover {
    text-decoration: none;
  }
}

.section-one {
  margin-top: 12rem;
}
.section-one__content {
  text-align: center;
}
.section-one__content__title {
  font-family: Raleway;
  font-size: 2.1875rem;
  font-weight: 400;
}
.section-one__content__text {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5rem;
  width: 65%;
}
.section-one__content__img {
  margin-top: 3rem;
}
@media (max-width: 750px) {
  .section-one__content__img {
    overflow: hidden;
  }
}
.section-one__content__img__background {
  width: 100%;
}
@media (max-width: 750px) {
  .section-one__content__img__background {
    transform: scale(1.84);
  }
}
.section-one__content__button {
  font-family: "Open Sans";
  font-size: 1rem;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  background-color: #08A6E4;
  color: #FFFFFF;
  border: none;
  border-radius: 3rem;
  padding: 1.5rem 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
}
@media (max-width: 740px) {
  .section-one__content__button {
    padding: 1rem 5rem;
  }
}
.section-one__content__button:hover {
  cursor: pointer;
  background-color: rgb(49, 192, 249);
}

.section-two {
  text-align: center;
  font-family: "Raleway";
  margin-top: 2rem;
  max-width: 68rem;
}
.section-two__article {
  padding: 0rem 8rem;
}
@media (max-width: 740px) {
  .section-two__article {
    padding: 0rem 0rem;
  }
}
.section-two__title {
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  width: 65%;
}
@media (min-width: 740px) {
  .section-two__title {
    margin-bottom: 4rem;
  }
}
.section-two__item__one {
  margin-top: 1rem;
}
.section-two__item__one__imgEllipse {
  transform: translate(28%, 7%);
}
.section-two__item__one__imgGroup {
  transform: translate(-38%, -11%);
}
.section-two__item__one__textNumber {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.3725rem;
  margin-top: 1rem;
}
.section-two__item__one__text {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  color: #A5A5A5;
  margin-top: 1rem;
}
.section-two__item__two {
  margin-top: 1rem;
}
.section-two__item__two__imgEye {
  transform: translate(-29%, -31%);
}
.section-two__item__two__imgEllipse {
  transform: translate(45%, 7%);
}
.section-two__item__two__textNumber {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.3725rem;
  margin-top: 1rem;
}
.section-two__item__two__text {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  color: #A5A5A5;
  margin-top: 1rem;
  width: 32%;
}
@media (min-width: 740px) {
  .section-two__item__two__text {
    width: 60%;
  }
}
.section-two__item__three {
  margin-top: 1rem;
}
.section-two__item__three__imgEllipse {
  transform: translate(43%, 7%);
}
.section-two__item__three__imgCatalog {
  transform: translate(-24%, -8%);
}
.section-two__item__three__textNumber {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.3725rem;
  margin-top: 1rem;
}
.section-two__item__three__text {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  color: #A5A5A5;
  margin-top: 1rem;
  width: 28%;
}
@media (min-width: 740px) {
  .section-two__item__three__text {
    width: 61%;
  }
}

.section-three {
  margin-top: 3rem;
  background: #F7F7F7;
  border: 1px solid #E8E9ED;
}
@media (min-width: 740px) {
  .section-three__group {
    max-width: 60rem;
  }
}
.section-three__cardOne {
  margin: 2rem;
  background-color: white;
  padding: 3rem 2rem;
  border: 1px solid #E8E9ED;
  border-radius: 0.5rem;
}
@media (min-width: 740px) {
  .section-three__cardOne {
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem 4rem;
  }
}
.section-three__cardOne__imgMack {
  transform: translate(20%, 8%);
  z-index: 9;
  position: relative;
}
@media (min-width: 740px) {
  .section-three__cardOne__imgMack {
    transform: scale(1.3);
  }
}
.section-three__cardOne__imgFrame {
  transform: translate(-50%, -24%);
  position: absolute;
}
@media (min-width: 740px) {
  .section-three__cardOne__imgFrame {
    transform: translate(-66%, -47%);
  }
}
.section-three__cardOne__content__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.2012rem;
  margin-top: 1rem;
}
.section-three__cardOne__content__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: 3rem;
}
@media (min-width: 740px) {
  .section-three__cardOne__content__text {
    margin: 0;
    width: 63%;
    margin-top: 1rem;
  }
}
.section-three__cardTwo {
  margin: 2rem;
  background-color: white;
  padding: 3rem 2rem;
  border: 1px solid #E8E9ED;
  border-radius: 0.5rem;
}
@media (min-width: 740px) {
  .section-three__cardTwo {
    position: relative;
    padding: 2rem 2rem;
  }
}
@media (min-width: 740px) {
  .section-three__cardTwo__content {
    margin-left: 13rem;
  }
}
@media (min-width: 740px) {
  .section-three__cardTwo__img {
    margin-top: 3rem;
  }
}
.section-three__cardTwo__imgEllipse {
  position: absolute;
  left: 6rem;
}
@media (min-width: 740px) {
  .section-three__cardTwo__imgEllipse {
    transform: scale(1.3);
  }
}
.section-three__cardTwo__imgIphone {
  position: relative;
  left: 3rem;
}
@media (min-width: 740px) {
  .section-three__cardTwo__imgIphone {
    transform: scale(1.3);
    top: 1rem;
    left: 5rem;
  }
}
.section-three__cardTwo__content__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.2012rem;
  width: 99%;
  margin-top: 1rem;
}
.section-three__cardTwo__content__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: 3rem;
}
.section-three__cardThree {
  margin: 2rem;
  background-color: white;
  border: 1px solid #E8E9ED;
  border-radius: 0.5rem;
}
@media (min-width: 740px) {
  .section-three__cardThree {
    background-color: #f7f7f7;
    border: none;
  }
}
.section-three__cardThree__content__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.2012rem;
}
.section-three__cardThree__content {
  padding: 2rem;
}
@media (min-width: 740px) {
  .section-three__cardThree__content {
    border: 1px solid #E8E9ED;
    margin-right: 3rem;
    background-color: white;
    padding: 2rem 2rem;
  }
}
.section-three__cardThree__content__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: 3rem;
}
.section-three__cardThree__imgTrumpet {
  margin-top: 3rem;
}
.section-three__cardThree__img {
  background-color: #55DFB4;
}

.line-card {
  max-width: 54%;
  margin: 0;
  height: 0.18rem;
  margin: 2rem 0rem;
}
@media (max-width: 740px) {
  .line-card {
    display: none;
  }
}
.line-card.red {
  background-color: #FB3B64;
}
.line-card.blue {
  background-color: #08A6E4;
}
.line-card.green {
  background-color: #55DFB4;
}

.section-four {
  max-width: 68rem;
}
.section-four__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.6412rem;
  text-align: center;
  margin-top: 3rem;
}
.section-four__cardOne__pricing {
  border: 1px solid #FB3B64;
  border-radius: 1.125rem;
  position: relative;
  display: flex;
  padding: 2rem 1rem;
  margin: 2rem;
}
.section-four__cardOne__pricing:hover {
  cursor: pointer;
  box-shadow: 5px 10px 27px 0px rgba(250, 89, 124, 0.3647058824);
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
@media (min-width: 750px) {
  .section-four__cardOne__pricing {
    display: block;
    padding: 3rem 4rem;
    margin-top: 4rem;
  }
}
.section-four__cardOne__pricing__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.section-four__cardOne__pricing__textPricing {
  font-family: "Open Sans";
  color: #FB3B64;
  font-weight: 300;
  font-size: 2.875rem;
  line-height: 4rem;
}
.section-four__cardOne__pricing__list {
  list-style: none;
  padding: 0.3rem;
}
@media (min-width: 750px) {
  .section-four__cardOne__pricing__list {
    margin-top: 3rem;
  }
}
.section-four__cardOne__pricing__button {
  background-color: #FB3B64;
  border-radius: 1.4375rem;
  border: none;
  color: #FFFFFF;
  padding: 1rem 4rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.1062rem;
  position: absolute;
  top: 90%;
  left: 22%;
}
.section-four__cardOne__pricing__button:hover {
  cursor: pointer;
  background-color: #fb6f8d;
}
@media (min-width: 750px) {
  .section-four__cardOne__pricing__button {
    top: 93%;
    left: 23%;
  }
}
.section-four__cardTwo__pricing {
  border: 1px solid #07ACE6;
  border-radius: 1.125rem;
  position: relative;
  display: flex;
  padding: 2rem 1rem;
  margin: 2rem;
  margin-top: 4rem;
}
.section-four__cardTwo__pricing:hover {
  cursor: pointer;
  box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
@media (min-width: 750px) {
  .section-four__cardTwo__pricing {
    display: block;
    padding: 3rem 4rem;
  }
}
.section-four__cardTwo__pricing__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.section-four__cardTwo__pricing__textPricing {
  font-family: "Open Sans";
  color: #07ACE6;
  font-weight: 300;
  font-size: 2.875rem;
  line-height: 4rem;
}
.section-four__cardTwo__pricing__list {
  list-style: none;
  padding: 0.3rem;
}
@media (min-width: 750px) {
  .section-four__cardTwo__pricing__list {
    margin-top: 3rem;
  }
}
.section-four__cardTwo__pricing__button {
  background-color: #07ACE6;
  border-radius: 1.4375rem;
  border: none;
  color: #FFFFFF;
  padding: 1rem 4rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.1062rem;
  position: absolute;
  top: 90%;
  left: 22%;
}
.section-four__cardTwo__pricing__button:hover {
  cursor: pointer;
  background-color: rgb(49, 192, 249);
}
@media (min-width: 750px) {
  .section-four__cardTwo__pricing__button {
    top: 93%;
    left: 23%;
  }
}
.section-four__cardThree__pricing {
  border: 1px solid #55DFB4;
  border-radius: 1.125rem;
  position: relative;
  display: flex;
  padding: 2rem 1rem;
  margin: 2rem;
  margin-top: 4rem;
}
@media (min-width: 750px) {
  .section-four__cardThree__pricing {
    display: block;
    padding: 3rem 4rem;
  }
}
.section-four__cardThree__pricing:hover {
  cursor: pointer;
  box-shadow: 5px 10px 27px 0px rgba(99, 234, 191, 0.4549019608);
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
.section-four__cardThree__pricing__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.section-four__cardThree__pricing__textPricing {
  font-family: "Open Sans";
  color: #55DFB4;
  font-weight: 300;
  font-size: 2.875rem;
  line-height: 4rem;
}
.section-four__cardThree__pricing__list {
  list-style: none;
  padding: 0.3rem;
}
@media (min-width: 750px) {
  .section-four__cardThree__pricing__list {
    margin-top: 3rem;
  }
}
.section-four__cardThree__pricing__button {
  background-color: #55DFB4;
  border-radius: 1.4375rem;
  border: none;
  color: #FFFFFF;
  padding: 1rem 4rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.1062rem;
  position: absolute;
  top: 90%;
  left: 22%;
}
.section-four__cardThree__pricing__button:hover {
  cursor: pointer;
  background-color: #90e5ca;
}
@media (min-width: 750px) {
  .section-four__cardThree__pricing__button {
    top: 93%;
    left: 23%;
  }
}
.section-four__cardThree__pricing__textLimited, .section-four__cardTwo__pricing__textLimited {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.8806rem;
}
.section-four__cardsItem {
  margin-right: 0.5rem;
}
.section-four__cardsContent {
  margin-bottom: 1rem;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1919rem;
}
.section-four__cardOne__pricing__, .section-four__cardTwo__pricing__, .section-four__cardThree__pricing__ {
  display: flex;
  align-items: center;
}

@media (min-width: 750px) {
  .styles-generals {
    text-align: center;
    justify-content: space-between;
  }
}

.section-five-form {
  padding: 3rem 1.5rem;
}
@media (min-width: 740px) {
  .section-five-form {
    display: flex;
    max-width: 58rem;
  }
}
@media (min-width: 740px) {
  .section-five-form__Container {
    width: 50%;
    margin-top: 3rem;
  }
}
.section-five-form__title {
  font-family: "Raleway";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.935rem;
}
.section-five-form__text {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
}
.section-five-form__contacts {
  margin-top: 2rem;
}
@media (min-width: 740px) {
  .section-five-form__contacts {
    display: flex;
  }
}
@media (min-width: 740px) {
  .section-five-form__contacts__mail {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
.section-five-form__contacts__call {
  margin-top: 0.5rem;
}
@media (min-width: 740px) {
  .section-five-form__contacts__call {
    margin-left: 1rem;
  }
}
.section-five-form__contact {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #A5A5A5;
  display: inline-flex;
}
.section-five-form__contact:hover {
  cursor: pointer;
  color: #000000;
}
.section-five-form__contact__icon {
  color: #08A6E4;
  margin-right: 0.5rem;
}
.section-five-form__content__label {
  color: #08A6E4;
  font-family: "Open Sans";
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.205rem;
}
.section-five-form__content__input {
  border: none;
  border-bottom: 1.5px solid #95989A;
  width: 97%;
  margin-top: 1.5rem;
}
.section-five-form__content__btn {
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  background-color: #08A6E4;
  border: none;
  border-radius: 2.1875rem;
  color: #FFFFFF;
  padding: 1.25rem 5.5rem;
  margin-top: 2rem;
  display: flex;
  margin-right: 1rem;
}
.section-five-form__content__btn:hover {
  cursor: pointer;
  background-color: rgb(49, 192, 249);
}
.section-five-form__content__consent {
  margin-top: 2rem;
  padding: 1rem;
}
.section-five-form__content__consent__label {
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0212rem;
  color: #707070;
  display: inline-block;
  width: 85%;
  vertical-align: top;
}
.section-five-form__content__consent__check {
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  appearance: none;
  border: 0.1rem solid #707070;
}
.section-five-form__content__consent__check:checked {
  background-image: url("img/Checkbox (2).png");
  background-repeat: no-repeat;
  background-position: center;
}
.section-five-form__content__consent__check:hover {
  cursor: pointer;
}
.section-five-form__content__ {
  margin-top: 2rem;
}
@media (min-width: 740px) {
  .section-five-form__content__ {
    width: 50%;
  }
}
.section-five-form__content {
  margin-top: 1rem;
}

.footer {
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
}
.footer__container {
  display: flex;
  padding: 0.5rem 1rem;
}
.footer__container__icons {
  display: flex;
  align-items: center;
}
@media (min-width: 740px) {
  .footer__container__icons {
    margin-right: 4rem;
  }
}
.footer__container__logo {
  margin-left: 1em;
  font-family: "Raleway";
  color: #08A6E4;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.875rem;
}
.footer__container__text {
  font-family: "Open Sans";
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.9363rem;
  color: #A5A5A5;
  margin-top: 0.5rem;
}
.footer__container__iconsFacebook {
  margin-left: 1rem;
}

.button__go_home {
  bottom: 4rem;
  right: 2rem;
  z-index: 98;
  position: fixed;
  width: 100%;
  max-width: 3.5rem;
  height: 2.5rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  background-color: #08A6E4;
  margin-bottom: 2rem;
}
@media (max-width: 750px) {
  .button__go_home {
    bottom: 10rem;
  }
}

.div__complet_sscroller {
  width: 100%;
  height: 2px;
  position: fixed;
}
@media (min-width: 750px) {
  .div__complet_sscroller {
    top: 3.75rem;
  }
}

.scrollerProgress {
  width: 0%;
  height: 3px;
  background-color: #fb3b64;
  margin: 0;
}

.slider-screen {
  width: 70%;
}

.slider-screen img {
  width: 100%;
}

.section-slider {
  width: 75%;
  margin-top: 4rem;
}
@media (max-width: 750px) {
  .section-slider {
    width: 100%;
  }
}

.slider-icon {
  display: flex;
  margin-top: 2rem;
  cursor: pointer;
}

.content-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 99;
  display: none;
}
.content-popup__text {
  display: grid;
  font-family: Raleway;
}
.content-popup .popup {
  width: 60%;
  height: 20rem;
  margin: 0 auto;
  background-color: white;
  margin-top: 10rem;
}
@media (max-width: 750px) {
  .content-popup .popup {
    width: 72%;
    height: 22rem;
  }
}

.close {
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.text-popup {
  text-align: center;
  font-family: Raleway;
  font-size: 2rem;
}
@media (max-width: 750px) {
  .text-popup {
    font-size: 1rem;
    margin-top: 2rem;
  }
}

.popupSubmitBtn {
  background-color: white;
  margin-top: 1.5rem;
  font-family: Raleway;
}
.popupSubmitBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.popupInput {
  border: none;
  border-bottom: 1.5px solid #95989A;
  width: 50%;
  margin-top: 1rem;
}

.popupLabel {
  margin-top: 2rem;
}

.select {
  display: flex;
  margin-top: 2rem;
}

#opcion1 {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
#opcion1:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

#opcion2 {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
#opcion2:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

#opcion3 {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
#opcion3:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

* {
  margin: 0 auto;
}

.flex {
  display: flex;
}
@media (max-width: 750px) {
  .flex {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
