

.button__go_home{
    bottom: 4rem;
    right: 2rem;
    z-index: 98;
    position: fixed;
        width: 100%;
        max-width: 3.5rem;
        height: 2.5rem;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 40px;
        box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
        background-color: #08A6E4;
        margin-bottom: 2rem;
    }

