.navbar {
    box-shadow: 0px 3px 6px 0px #0000004A;
    line-height: 3.5rem;
    @media (max-width: 750px) {
        line-height: 2.5rem;
        }

        @media (min-width: 750px) {
            position: fixed;
            top: 0;
                background-color: white;
                z-index: 999;
                width: 100%;
                
            }
}

// .navbar__container {
//     display: inline-block;
// }


@media (min-width: 750px) {
    .navbar__container {
        display: flex;
    justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .navbar__container {
        display: flex;
    justify-content: space-between;
    }
}

.navbar__container__logo {
    margin-left: 1em;
    font-family: Raleway;
    font-size: 1.625rem;
    color: #08A6E4;
}

.navbar__container__icon {
    color: #08A6E4;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

@media (min-width: 750px) {
    .navbar__container__icon {
        display: none;
    }
}

.navbar__container__nav {
    display: none;
    @media (min-width: 750px) {
        display: inline-block !important; 
        margin-left: 7rem;
    }

    @media (min-width: 850px) {
        margin-left: 9rem;
    }

    @media (min-width: 950px) {
        margin-left: 14rem;
    }

    @media (min-width: 1000px) {
        margin-left: 17rem;
    }
    
    @media (min-width: 1200px) {
        margin-left: 30rem;
    }

    @media (min-width: 1300px) {
        margin-left: 36rem;
    }

    @media (min-width: 1400px) {
        margin-left: 43rem;
    }

    @media (min-width: 1500px) {
        margin-left: 58rem;
    }
}


.navbar__container__nav__items {
    list-style: none;
    @media (max-width: 750px) {
        
        display: table-caption;
        margin-top: 1rem;
    }

    
}

.navbar__container__nav__itemsList {
    display: inline-block;
    margin-right: 3rem;
    font-family: "Open Sans";
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.9375rem;
    letter-spacing: 0.205rem;
    text-align: center;
    color: #A5A5A5;

    a{
        text-decoration: none;
        color: #A5A5A5;

        &:hover{
            cursor: pointer;
            color: black;
            text-decoration: underline 0.3rem solid #08A6E4;
            text-underline-offset: 1.5em;
            @media (max-width: 750px) {
            text-decoration: none;
            }
        
        }
    }
}
