.content-popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color:  rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 99;
    display: none;

    .popup{
        width: 60%;
        height: 15rem;
        margin: 0 auto;
        background-color:white;
        margin-top: 10rem;
        @media (max-width: 750px) {
            width: 72%;
            height: 10rem;
            }
    }
}

.close{
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.text-popup{
    text-align: center;
    font-family: Raleway;
    font-size: 2rem;
    
    @media (max-width: 750px) {
        font-size: 1rem;
        margin-top: 2rem;
        }
}