.section-four {

    max-width: 68rem;

    &__title {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 2.6412rem;
        text-align: center;
        margin-top: 3rem;
    }

    &__cardOne__pricing {
        border: 1px solid #FB3B64;
        border-radius: 1.125rem;
        position: relative;
        display: flex;
        padding: 2rem 1rem;
        margin: 2rem;

        &:hover{
            cursor: pointer;
            box-shadow: 5px 10px 27px 0px  #fa597c5d;
            transform: scale(1.1);
            transition: transform 0.1s ease;
        }

        @media (min-width: 750px) {
            display: block;
            padding: 3rem 4rem;
            margin-top: 4rem;
        }

        &__text {
            font-family: "Raleway";
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        &__textPricing {
            font-family: "Open Sans";
            color: #FB3B64;
            font-weight: 300;
            font-size: 2.875rem;
            line-height: 4rem;
        }

        &__list {
            list-style: none;
            padding: 0.3rem;
            @media (min-width: 750px) {
                margin-top: 3rem;
            }
        }

        &__button {
            background-color: #FB3B64;
            border-radius: 1.4375rem;
            border: none;
            color: #FFFFFF;
            padding: 1rem 4rem;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 0.8125rem;
            line-height: 1.1062rem;
            position: absolute;
            top: 90%;
            left: 22%;
    
            &:hover{
                cursor: pointer;
                background-color: #fb6f8d;
            }
    
            @media (min-width: 750px) {
                top: 93%;
                left: 23%;
            }
        }

    }



    &__cardTwo__pricing {
        border: 1px solid #07ACE6;
        border-radius: 1.125rem;
        position: relative;
        display: flex;
        padding: 2rem 1rem;
        margin: 2rem;
        margin-top: 4rem;

        &:hover{
            cursor: pointer;
            box-shadow: 5px 10px 27px 0px #07ACE64A;
            transform: scale(1.1);
            transition: transform 0.1s ease;
        }

        @media (min-width: 750px) {
            display: block;
            padding: 3rem 4rem;
        }

        &__text {
            font-family: "Raleway";
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        &__textPricing {
            font-family: "Open Sans";
            color: #07ACE6;
            font-weight: 300;
            font-size: 2.875rem;
            line-height: 4rem;
        }

        &__list {
            list-style: none;
            padding: 0.3rem;
            @media (min-width: 750px) {
                margin-top: 3rem;
            }
        }

        &__button {
            background-color: #07ACE6;
            border-radius: 1.4375rem;
            border: none;
            color: #FFFFFF;
            padding: 1rem 4rem;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 0.8125rem;
            line-height: 1.1062rem;
            position: absolute;
            top: 90%;
            left: 22%;
    
            &:hover{
                cursor: pointer;
                background-color: rgb(49, 192, 249);
            }
            @media (min-width: 750px) {
                top: 93%;
                left: 23%;
            }
        }

    }


    &__cardThree__pricing {
        border: 1px solid#55DFB4;
        border-radius: 1.125rem;
        position: relative;
        display: flex;
        padding: 2rem 1rem;
        margin: 2rem;
        margin-top: 4rem;
        @media (min-width: 750px) {
            display: block;
            padding: 3rem 4rem;
        }
    }

    &__cardThree__pricing:hover{
        cursor: pointer;
        box-shadow: 5px 10px 27px 0px #63eabf74;
        transform: scale(1.1);
        transition: transform 0.1s ease;
    }


    &__cardThree__pricing__text {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    &__cardThree__pricing__textPricing {
        font-family: "Open Sans";
        color: #55DFB4;
        font-weight: 300;
        font-size: 2.875rem;
        line-height: 4rem;
    }

    &__cardThree__pricing__list {
        list-style: none;
        padding: 0.3rem;
        @media (min-width: 750px) {
            margin-top: 3rem;
        }
    }

    &__cardThree__pricing__button {
        background-color: #55DFB4;
        border-radius: 1.4375rem;
        border: none;
        color: #FFFFFF;
        padding: 1rem 4rem;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 0.8125rem;
        line-height: 1.1062rem;
        position: absolute;
        top: 90%;
        left: 22%;

        &:hover{
            cursor: pointer;
            background-color: #90e5ca;
        }
        @media (min-width: 750px) {
            top: 93%;
            left: 23%;
        }
    }

    &__cardThree__pricing__textLimited,
    &__cardTwo__pricing__textLimited {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.8806rem;
    }

    &__cardsItem {
        margin-right: 0.5rem;
    }

    &__cardsContent {
        margin-bottom: 1rem;
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.1919rem;
    }

    &__cardOne__pricing__,
    &__cardTwo__pricing__,
    &__cardThree__pricing__ {
        display: flex;
        align-items: center;
    }

}

.styles-generals{
    @media (min-width: 750px) {
        text-align: center;
    justify-content: space-between;
    }
    
}