.slider-screen{
    width: 70%;
}

.slider-screen img{
    width: 100%;
}

.section-slider{
    width: 75%;
    margin-top: 4rem;

    @media (max-width: 750px) {
    width: 100%;

    }

}

.slider-icon{
    display: flex;
    margin-top: 2rem;
    cursor: pointer;
}